@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600);*,:after,:before {
  box-sizing: border-box
}

#lang {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

#lang span {
  color: #fff;
}

.categoryLabel {
	cursor: pointer;
	position: absolute;
	padding: 15px 40px;
	text-align: center;
	border-radius: 7px;
  background-color: rgba(4, 70, 78, 0.85);  /* base darkest blue */
  /*KTH*/
  background-color: #fff !important;
  border-color: #fff;
  color: #1954A6;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  padding: .5rem 1.5rem;
  line-height: normal;
}

.circle-text {
  width: 360px;
  height: 300px;
  display: block;
  border-radius: 50%;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
}

.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


/* General Style */
body {
  background: #1954A6;
  color:#fff;
  font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
  margin: 0px;
  -webkit-user-select: none !important;
}

@font-face {
  font-family: 'GillSansLight';
  src: url('fonts/Gill_Sans_Light.woff') format('woff');
}

@font-face {
  font-family: 'GillSansBold';
  src: url('fonts/Gill_Sans_Bold.woff') format('woff');
}

/* Webfonts: Copyright © Letters From Sweden. All rights reserved. To obtain a license, please see: https://lettersfromsweden.se */

@font-face {
  font-family: 'EksellDisplayWebMedium';
  src: url('fonts/EksellDisplayWeb-Medium.woff') format('woff');
}

a {
  text-decoration: none;
}

.wrap {
  width: 270px;
  height: 475px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #888888;
}

#wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 40px
}

.frame {
  width: 1080px;
  height: 1920px;
  border: 0;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 10px;
}

#content {
  z-index: 1;
  padding: 10px;
  display: flex;
}

h2 {
  padding: 0;
  margin: 0;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.title {
  font-size: 3vw;
  line-height: 1;
  color: #e9efe7; /* white */
  /*font-family1: 'EksellDisplayWebMedium';*/
  font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
}

#subcaption {
  font-size: 24px;
  line-height: 1;
  color: #e9efe7; /* white */
  /*font-family1: 'EksellDisplayWebMedium';*/
  font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
  width: 50%;
}

.subtitle {
  font-size: 40px;
  color: #000 !important;
  /*font-family1: 'EksellDisplayWebMedium' !important;*/
  font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
}

.instruction {
  /*font-family1: 'GillSansLight';*/
  color: #bdcc9b; /* light green */
  font-size: 2vw;
  line-height: 1.2;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.body {
  /*font-family1: 'GillSansLight';/*
  color: #bec4ba; /* light gray */
  font-size: 24px;
  line-height: 1.2;
}

.bodyBold {
  /*font-family1: 'GillSansBold' !important;*/
  color: #bdcc9b; /* light green */
}

.shadow {
  box-shadow: 0px 0px 2px #373735;
}

.clickable {
  background-color: #2d606f; /* base middle blue */
  color:  #000;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.clickable:active, .clickable:hover {
  background-color: #72b5b1; /* highlight blue */
  box-shadow: 0px 0px 0px rgba(55, 55, 53, 0.5);
}

.hide {
  display: none !important;
}

.dialog_modal {
  background-color: rgba(4, 70, 78, 0.85);  /* base darkest blue */
  position: relative;
  border-radius: 7px;
  padding: 10px;
  flex-grow: 1;
}

.smallModal {
  top: 43%;
  left: 40%;
  right: 40%;
  bottom: 43%;
  padding: 0px;
  padding-top: 2.5%;
  padding-left: 6.1%;
}

.closeModalButton {
  position: absolute;
  top: -25px;
  right: -25px;
  height: 80px;
  width: 80px;
  padding-top: 25px;
  border-radius: 50px;
  cursor: pointer;
}

.closeModalButton img {
  vertical-align: baseline;
}

#map,
#clickableOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  max-width:100%;
  background-size: cover;
  background-position: center;
}


/* Lure Screen Style */

#caption {
  position: absolute;
  top: 8%;
  left: 5%;
  color: #fff;
}

#subcaption {
  color: #fff;
  padding-top: 10px;
}


#circlelabels>div:nth-child(1) {
  top: 45%;
  left: 10%;
}

#circlelabels>div:nth-child(2) {
  top: 55%;
  left: 35%;
}

#circlelabels>div:nth-child(3) {
  top: 25%;
  left: 50%;
}

#circlelabels>div:nth-child(4) {
  top: 35%;
  left: 75%;
}

.alert {
  position: absolute;
    z-index: 99;
    bottom: 0;
    right: 50% 
}


/* Checklist Modal Style */

#checklistLogo {
  display: inline-block;
  height: 150px;
  width: 150px;
  /*border-radius: 75px;*/
  margin-right: 50px;
  vertical-align: middle;
  will-change: top, scale;
  transition: transform 1s;
}

.voted {
  position: relative;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-name: voted;
  animation-fill-mode: forwards;
}

.grow {
  transform: scale(1.2);
}

@keyframes voted {
  from { top: 0px; }
  to { top: -1000px; }
}

#checklistHeader {
  display: flex;
  margin-bottom: 0px;
}

#checklistHeaderText {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

#checklistPrompt {
  padding-bottom: 20px;
}

#checklistBody {
  position: relative;
  display: flex;
  flex-direction: row;
}

#checklistContainer {
  padding-top: 20px;
  flex: 65;
}

#checklistSeparator {
  width: 5px;
  padding-top: 30px;
  border-radius: 2.5px;
  background-color: #2d606f; /* base middle blue */
  margin: 0 10px;
  flex: 0.5
}

.subactions>div {
  float: left;
  padding-left: 3vw;
  margin-left: 10px;
  padding-top: 10px;
}

.subactions label img {
  width: 14px;
  height: 14px;
}

.subactions .usermessages {
  width: 90%;
  padding-left: 3vw;
  margin-left: 10px;
}

.subactionItemName {
  font-size: 14px;

}

.actionItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  color: #e9efe7; /* white */
}

.actionItemText {
  display: flex;
  padding-left: 3vw;
  margin-left: 10px;
  padding-bottom: 10px;
}

.actionItemCheckbox {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  vertical-align: top;
  position: relative;
}

.itemCheckboxImage {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.actionItemBody {
  vertical-align: top;
  padding-left: 10px;
}

.actionItemName, div#checklistlearnMoreText h2 {
  padding-bottom: 15px;
  font-size: 2vw;
  line-height: 1;
  color: #e9efe7;
  font-weight: normal;
  margin: 0;
}

#checklistlearnMoreText {
  color: #d2d940;
  vertical-align: top;
  padding-top: 20px;
  flex: 30;
}

.learnMoreImage {
  float: left;
  padding-right: 20px;
  width: 100%;
}

.learnMoreText {
  margin-top: 0px;
}

.userinfo {
  padding-top: 40px;
}



#submitActionButton {
  position: absolute;
  bottom: -20px;
  right: -20px;
  height: 80px;
  padding: 0px 40px;
  border-radius: 40px;
  line-height: 80px;
  font-size: 40px;
  color:#fff
}


/* Confirmation Modal Style */

#confirmationContainer {
  width: 95%;
  padding-top: 80px;
  margin: auto;
}

#confirmationTitle {
  padding-bottom: 10px;
}

#confirmationEmailQuestion {
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 25px;
  line-height: 1.2;
}

#confirmationEmailPrivacyStatement {
  padding-top: 20px;
    padding-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

#confirmationAction {
  color: #d2d940; /* hightlight yellow */
}

#confirmationEmailQuestionNoButton, #confirmationEmailQuestionYesButton {
  display: inline-block;
  height: 80px;
  padding: 0px 40px;
  border-radius: 40px;
  line-height: 80px;
  margin-right: 50px;
  color:#fff;
}


/* Email Modal Style */

#container {
  width: 100%;
  margin: auto;
}

#emailTextbox {
  margin-top: 10px;
  margin-bottom: 100px;
}

#write {
  vertical-align: top;
  display: inline-block;
  font-size: 50px;
  line-height: 70px;
  /*font-family1: 'GillSansLight';*/
  padding: 10px;
  padding-top: 0px;
  width: 100%;
  margin-right: 10px;
  height: 80px;
  background: #fff;
  border-radius: 7px;
  resize: none;
  border: none;
}

#write:focus {
  outline: none;
}


#submitEmail {
  position: absolute;
  bottom: -20px;
  right: -20px;
  height: 80px;
  padding: 0px 40px;
  border-radius: 40px;
  line-height: 80px;
  font-size: 40px;
  color: #fff;
}

/* Keyboard Style */

#keyboard {
  width:80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  /*font-family1: 'GillSansLight';*/
  vertical-align: middle;
  text-align: center;
  background-color: #2d606f; /* base middle blue */
  color:  #e9efe7; /* white */
  text-align: center;
  border-radius: 7px;
}

#keyboard .invisibleKey {
  visibility: hidden;
  margin: 0px;
  background-color: red;
  clear: left;
}

#keyboard .email,
#keyboard .left-shift,
#keyboard .capslock {
  width: auto;
  font-size: 32px;
  padding-left: 15px;
  padding-right: 15px;
}

.lastitem {
  margin-right: 0;
  clear: right;
}

.uppercase {
  text-transform: uppercase;
}

#keyboard .space {
  width: 50%;
}

.on {
  display: none;
}

#keyboard li:active {
  position: relative;
  top: 1px;
  left: 1px;
  background-color: #72b5b1; /* highlight blue */
}

.highlighted {
  background-color: #72b5b1 !important; /* highlight blue */
}

/* Thanks Modal Style */

#thanksText {
  text-align: center;
  width: 100%;
  margin: auto;
}

@keyframes sparkle {
  0%   { opacity: 1; }
  35%   { opacity: 0.0; }
  45% {opacity: 0.0}
  80%  { opacity: 1; }
}

.category {
  animation-name: sparkle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  background-color: #04464e !important;
  fill: rgba(4, 70, 78, 0.4);
  opacity: 1;
  will-change: opacity;
}

.cont-checkbox {
  margin-right: 0px;
}

input[type=checkbox] {
  display: none;
}

input:checked + label .checked {
  display: inline-block;
}

input:checked + label .unchecked {
  display: none;
}

label .checked {
  display: none;
}

label .unchecked {
  display: inline-block;
}

input:checked + label .cover-checkbox svg {
  stroke-dashoffset: 0;
}

.form-check-label {
  white-space: nowrap;
}

label {
  display: flex;
  cursor: pointer;
  border-radius: var(--border-radius);
  position: relative;
  /*opacity: 0.6;*/
}

label img {
  width: 2vw;
  height: 2vw;
}

.actionItemTextPadding {
  width: 2vw;
}

.showmoreinfo {
  cursor: pointer;
}

label .cover-checkbox {
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--box-shadow);
  border: 2px solid #fff;
  transition: transform var(--transition),
    opacity calc(var(--transition) * 1.2) linear;
  opacity: 0;
  transform: scale(0);
}

label .cover-checkbox svg {
  width: 13px;
  height: 11px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 5px 0 0 3px;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  transition: stroke-dashoffset 0.4s ease var(--transition);
  stroke-dashoffset: 16px;
}

label .info {
  text-align: center;
  margin-top: 0.2rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

@media screen and (max-width: 1920px) and (min-width: 0px){
  #keyboard {
    width: 80%;
  }
  #keyboard li {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }

  #keyboard .email, #keyboard .left-shift, #keyboard .capslock {
    width: auto;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }  
}

@media screen and (max-width: 1600px) and (min-width: 0px) {
  #write {
    vertical-align: top;
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
    font-family: verdana;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    margin-right: 10px;
    height: 50px;
    background: #fff;
    border-radius: 7px;
    resize: none;
    border: none;
    }

    #keyboard {
      width: 80%;
    }
    #keyboard li {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 30px;
    }
  
    #keyboard .email, #keyboard .left-shift, #keyboard .capslock {
      width: auto;
      font-size: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }

}

@media screen and (max-width: 1440px) and (min-width: 0px){
  .clickable {
    font-size: 25px;
  }

  .circle-text {
    width: 280px;
    height: 200px;
  }

  #keyboard {
    width: 80%;
  }
  #keyboard li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }

  #keyboard .email, #keyboard .left-shift, #keyboard .capslock {
    width: auto;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 0px) {
}

@media screen and (max-width: 1280px) and (min-width: 0px) {
  #map, #clickableOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 1080px;
    height: 810px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
  }

  #keyboard {
    width: 80%;
  }
  #keyboard li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  #keyboard .email, #keyboard .left-shift, #keyboard .capslock {
    width: auto;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }  

}

/* anpassa till KTH Bibliotekets iPad*/
@media screen and (max-width: 1080px) and (min-width: 0px) {
  #map, #clickableOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
  }

  .clickable {
    font-size: 20px;
  }

  .circle-text {
    width: 230px;
    height: 170px;
  }

  #checklistLogo {
    height: 150px;
    width: 150px;
    margin-right: 20px;
  }

  .title {
    font-size: 3vw 
  }

  .actionItemName, div#checklistlearnMoreText h2 {
    font-size: 2vw;
  }

  label img {
    width: 2vw;
    height: 2vw;
  }

  .actionItemTextPadding {
    width: 2vw;
  }

  .instruction {
    font-size: 2vw;
  }

  #emailTextbox {
    margin-top: 10px;
    margin-bottom: 100px;
  }

  #submitEmail {
    position: absolute;
    bottom: -30px;
    right: 30px;
    height: 80px;
    padding: 0px 40px;
    border-radius: 40px;
    line-height: 80px;
    font-size: 40px;
    color:#fff;
  }

  #emailModal #container {
    width: 100%
  }

  #write {
    vertical-align: top;
    display: inline-block;
    font-size: 32px;
    line-height: 50px;
    font-family: verdana;
    padding: 0px;
    padding-top: 0px;
    width: 100%;
    margin-right: 0px;
    height: 50px;
    background: #fff;
    border-radius: 7px;
    resize: none;
    border: none;
    }

    #keyboard {
      width: 100%;
      display: none;
    }

    #keyboard li {
      width: 55px;
      height: 55px;
      line-height: 55px;
      font-size: 30px;
    }
  
    #keyboard .email, #keyboard .left-shift, #keyboard .capslock {
      width: auto;
      font-size: 25px;
      padding-left: 20px;
      padding-right: 20px;
    } 
}

/* polopoly */
@media screen and (max-width: 990px) and (min-width: 0px) {
  #keyboard {
    display: none;
  }
  
}

/* anpassa till mobil*/
@media screen and (max-width: 600px) and (min-width: 0px) {
  /*
  body {
    overflow: scroll !important;
    position: relative !important;
  }
  */

  #wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: unset;
  }

  #caption {
    position: relative;
    top: 10px;
    left: 0%;
    color: #2d5f6f;
    padding: 10px;
  }

  #subcaption {
    width: 100%;
  }

  .categoryLabel {
    position: relative;
    margin: 10px 10px;
    padding: 20px;
  }

  #circlelabels>div:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  #circlelabels>div:nth-child(2) {
    top: 0;
    left: 0;
  }
  
  #circlelabels>div:nth-child(3) {
    top: 0;
    left: 0;
  }
  
  #circlelabels>div:nth-child(4) {
    top: 0;
    left: 0;
  }

  .clickable {
    font-size: 25px;
  }

  .actionItemName, div#checklistlearnMoreText h2 {
    font-size: 5vw;
  }

  label img {
    width: 5vw;
    height: 5vw;
  }
  
  .actionItemTextPadding {
    width: 5vw;
  }

  #map, #clickableOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 420px;
    height: 233px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
  }

  #checklistBody {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  #checklistHeader {
    margin-right: 40px;
    flex-direction: row;
  }

  .ccloseModalButton {
    position: absolute;
    top: -12px;
    right: -4px;
    height: 56px;
    width: 56px;
    padding-top: 8px;
    border-radius: 50%;
    cursor: pointer;
  }

  .ccloseModalButton img {
    width: 25px;
    height: 25px;
  }

  #submitActionButton {
    position: relative;
    bottom: 0px;
    right: 0px;
    height: 80px;
    padding: 0px 40px;
    border-radius: 40px;
    line-height: 90px;
    font-size: 40px;
    margin: 10px 0px;
    }

  #checklistSeparator {
      width: 100%;
      padding-top: 5px;
      border-radius: 2.5px;
      background-color: #2d606f;
      margin: 0px 0px 0px 0px;
  }

  #keyboard {
    display: none;
  }

  #submitEmail {
    position: relative;
    bottom: 0px;
    right: 0px;
    height: 80px;
    padding: 0px 40px;
    border-radius: 40px;
    line-height: 80px;
  }

  #emailModal #container {
    width: 100%
  }

  #write {
    vertical-align: top;
    display: inline-block;
    font-size: 32px;
    line-height: 50px;
    font-family: verdana;
    padding: 0px;
    padding-top: 0px;
    width: 100%;
    margin-right: 0px;
    height: 50px;
    background: #fff;
    border-radius: 7px;
    resize: none;
    border: none;
    }

    .circle-text {
      width: 300px;
      height: 240px;
      display: block;
      border-radius: 50%;
      text-align: center;
      min-width: 50px;
      min-height: 50px;
    }

    .title {
      font-size: 5vw 
    }

    .instruction {
      font-size: 3vw;
  }

    #checklistLogo { 
      height: 120px;
      width: 120px;
    }
}















